@import "~bootstrap/scss/bootstrap";

.main-container{
    overflow: scroll;
    .card{
        height: 420px;
        img{
            height: 280px;
            width: 100%;
            border-radius: 5px;
        }
    }
}
