@import "~bootstrap/scss/bootstrap";

.main-container{
    overflow: scroll;
    .card{
        height: 380px;
        img{
            width: 100%;
            aspect-ratio: 2/3;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}
